@import "./colors.scss";

#div-body{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 5vh;

    & #div-pisos {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        border-radius: 10px;
        width: 30vw;
        margin: 1%;
        padding: 2%;
        border: 2px solid $azulReal;

        & > #img-pisos{
            width: 100%;
            margin: 2% 0;
            border-radius: 25px;
            align-self: center;
            border: 3px solid $amarillo;
        }

        & > .button-pisos {
            font-size: 1.2rem;
            letter-spacing: 3px;
            font-style: oblique;
            font-weight: 700;
            border-radius: 15px;
            margin-top: 10px;
            width: max-content;
            padding: 4px 25px;
            align-self: center;
            background-color: $amarillo;
            border: 0;
            cursor: pointer;
        }

        & > #descripcion {
            text-align: center;
            font-weight: 600;
        }

    }

    & p {
        margin: 2px 0;
    }

    & h1 {
        text-align: center;
        margin-top: 0;
    }


        & #div-pisos:hover {
            background-color: $azulPastel;
            color: white;
            
            border: 2px solid $azulReal;

            
            & > #img-pisos{
                width: 100%;
                margin: 2% 0;
                border-radius: 25px;
                align-self: center;
                border: 3px solid white;
            }
    
            & > .button-pisos {
                background-color: white;
                cursor: pointer;
                border: 2px solid $azulReal;
            }
    
            & > #descripcion {
                text-align: center;
                font-weight: 700;
            }
            
            & > *{
                font-weight: bolder;
            }
        }
    
}