@import "./colors.scss";

#index-cuerpo {
    margin-top: 130px;
}

@media (max-width: 749px) {

    #titulo-pagina{
        margin-top: 2vh;
        margin-bottom: 0px;
        margin-left: 2vw;
    }

    #div-body{
        width: 100%;
        justify-items: center;
        margin-top: 30vh;

        & #div-pisos {
            display: flex;
            flex-direction: column;
            background-color: whitesmoke;
            border-radius: 10px;
            width: 80vw;
            margin-left: 10vw;
            margin-bottom: 5vh;
            padding: 2%;
            border: 2px solid $azulReal;

            & > #img-pisos{
                width: 90%;
                margin: 2% 0;
                border-radius: 25px;
                align-self: center;
                border: 3px solid $amarillo;
            }

            & > #buttons-index {
                display: flex;
                flex-direction: column;


                & > .button-pisos {
                    font-size: 1rem;
                    letter-spacing: 3px;
                    font-style: oblique;
                    font-weight: bolder;
                    font-size: 5vw;
                    border-radius: 15px;
                    margin-top: 0px;
                    margin-bottom: 2vh;
                    padding: 4px 5%;
                    align-self: center;
                    background-color: $amarillo;
                    color: whitesmoke;
                    border: 0;
                    cursor: pointer;
                    width: 60%;
                }

                & > .button-pisos:hover {
                    background-color: white;
                    border: 2px solid $amarillo;
                    color: black;
                }

                & > .button-mensaje {
                    font-size: 1rem;
                    letter-spacing: 2px;
                    font-style: oblique;
                    font-weight: bolder;
                    font-size: 5vw;
                    border-radius: 15px;
                    margin-top: 0px;
                    margin-bottom: 2vh;
                    padding: 4px 2%;
                    align-self: center;
                    background-color: blue;
                    color: white;
                    border: 0;
                    cursor: pointer;
                    width: 95%;
                }

                & > .button-mensaje:hover {
                    background-color: white;
                    border: 2px solid $azulReal;
                    color: black;
                }
            }


            & > #descripcion {
                text-align: center;
                font-weight: 600;
            }

            & > .detalles-piso > li{
                margin-bottom: 1vh;
            }

        }

        & p {
            margin: 0px;
        }

        & h1 {
            text-align: center;
            margin-top: 1vh;
            margin-bottom: 1vh;
        }


            & #div-pisos:hover {
                background-color: $azulPastel;
                color: white;
                
                border: 2px solid $azulReal;

                
                & > #img-pisos{
                    border: 3px solid white;
                }
        
                & > .button-pisos:hover {
                    background-color: white;
                    cursor: pointer;
                    border: 2px solid $azulReal;
                }
        
                & > #descripcion {
                    text-align: center;
                    font-weight: 700;
                }
                
                & > *{
                    font-weight: bolder;
                }
            }
        
    }

    .div-circular{
        border-radius: 50%;
        width: 25vw;
        height: 25vw;
        position: fixed;
        z-index: -100;
    }

    #circulo-forma{
        background-color: $amarillo;
        bottom: -12.5vw;
        left: -12.5vw;
    }
    
    #circulo-forma2{
        background-color: $amarillo;
        top: -12.5vw;
        right: -12.5vw;
    }

    #circulo-forma3{
        background-color: $azulPastel;
        top: -12.5vw;
        left: -12.5vw;
        
    }
    
    #circulo-forma4{
        background-color: $azulPastel;
        bottom: -12.5vw;
        right: -12.5vw;
    }
}

@media (min-width: 750px) {

    #titulo-pagina{
        margin-top: 2vh;
        margin-bottom: 0px;
        margin-left: 2vw;
    }

    #div-body{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin-top: 3vh;

        & #div-pisos {
            display: flex;
            flex-direction: column;
            background-color: whitesmoke;
            border-radius: 10px;
            width: 28vw;
            margin-bottom: 5vh;
            padding: 2%;
            border: 2px solid $azulReal;

            & > #img-pisos{
                width: 90%;
                margin: 2% 0;
                border-radius: 25px;
                align-self: center;
                border: 3px solid $amarillo;
            }

            & > #buttons-index {
                display: flex;
                flex-direction: column;


                & > .button-pisos {
                    font-size: 1rem;
                    letter-spacing: 3px;
                    font-style: oblique;
                    font-weight: 700;
                    border-radius: 15px;
                    margin-top: 0px;
                    margin-bottom: 2vh;
                    width: max-content;
                    padding: 4px 25px;
                    align-self: center;
                    background-color: $amarillo;
                    color: whitesmoke;
                    border: 0;
                    cursor: pointer;
                }

                & > .button-pisos:hover {
                    background-color: white;
                    border: 2px solid $amarillo;
                    color: black;
                }

                & > .button-mensaje {
                    font-size: 1rem;
                    letter-spacing: 3px;
                    font-style: oblique;
                    font-weight: 700;
                    border-radius: 15px;
                    margin-top: 0px;
                    margin-bottom: 2vh;
                    width: max-content;
                    padding: 4px 25px;
                    align-self: center;
                    background-color: blue;
                    color: white;
                    border: 0;
                    cursor: pointer;
                }

                & > .button-mensaje:hover {
                    background-color: white;
                    border: 2px solid $azulReal;
                    color: black;
                }
            }


            & > #descripcion {
                text-align: center;
                font-weight: 600;
            }

            & > .detalles-piso > li{
                margin-bottom: 1vh;
            }

        }

        & p {
            margin: 0px;
        }

        & h1 {
            text-align: center;
            margin-top: 1vh;
            margin-bottom: 1vh;
        }


            & #div-pisos:hover {
                background-color: $azulPastel;
                color: white;
                
                border: 2px solid $azulReal;

                
                & > #img-pisos{
                    border: 3px solid white;
                }
        
                & > .button-pisos:hover {
                    background-color: white;
                    cursor: pointer;
                    border: 2px solid $azulReal;
                }
        
                & > #descripcion {
                    text-align: center;
                    font-weight: 700;
                }
                
                & > *{
                    font-weight: bolder;
                }
            }
        
    }

    .div-circular{
        border-radius: 50%;
        width: 25vw;
        height: 25vw;
        position: fixed;
        z-index: -100;
    }

    #circulo-forma{
        background-color: $amarillo;
        bottom: -12.5vw;
        left: -12.5vw;
    }
    
    #circulo-forma2{
        background-color: $amarillo;
        top: -12.5vw;
        right: -12.5vw;
    }

    #circulo-forma3{
        background-color: $azulPastel;
        top: -12.5vw;
        left: -12.5vw;
        
    }
    
    #circulo-forma4{
        background-color: $azulPastel;
        bottom: -12.5vw;
        right: -12.5vw;
    }
}

