#div-links {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    margin: -10px -10px 25px -15px;
    border-bottom: 2px solid blue;

    & > #logo-navbar {
        width: 12rem;
    }

    & .link {
        text-decoration: none;
        align-self: center;
        align-items: center;
        margin: 0 10px;
        font-size: 1.5rem;
        font-weight: 700;
        color: black;

        &:hover {
            font-style: italic;
        }
    }
}