@media (max-width: 749px) {

    #div-links {
        width: 100%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        border-bottom: 2px solid blue;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;

        & > #logo-navbar {
            width: 12rem;
            margin-bottom: 2vh;
        }

        & > #logo-navbar2 {
            display: none;
        }

        & .link {
            text-decoration: none;
            align-self: center;
            align-items: center;
            margin: 0.5vh 10px;
            font-size: 1.5rem;
            font-weight: 700;
            color: black;

            &:hover {
                font-style: italic;
                font-weight: bolder;
                color: blue;
            }
        }
    }


    #navbar-global {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
    }


    .link-admin {
        text-decoration: none;
        align-self: center;
        align-items: center;
        margin: 0.5vh 10px;
        font-size: 1.5rem;
        font-weight: 700;
        color: black;

        &:hover {
            font-style: italic;
            font-weight: bolder;
            color: blue;
        }
    }

    #nav-aviso {
        text-decoration: none;
        align-self: center;
        align-items: center;
        margin: 0 10px;
        font-size: 1.5rem;
        font-weight: 700;
        color: red;

        &:hover {
            font-style: italic;
            font-weight: bolder;
            color: red;
        }
    }

    
    #nav-aviso[title]:hover:after {
        content: attr(title);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: rgb(130, 207, 233);
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        color: rgb(31, 119, 42);
        font-size: 2.5rem;
    }
    
    .boton {
        background-color: white;
        color: black;
        border-radius: 10em;
        font-size: 16px; 
        font-weight: 600;
        padding: 0.5em 1em; 
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: 1px solid black;
        box-shadow: 0 0 0 0 black;
        max-height: 40px;
        display: flex; 
        align-items: center;
        justify-content: center; 
        white-space: nowrap;
        margin-top: 20px;
    }
    
    .boton:hover {
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 black;
    }
    
    .boton:active {
        transform: translateY(2px) translateX(1px);
        box-shadow: 0 0 0 0 black;
    }    

}

@media (min-width: 750px) {

    #div-links {
        width: 100%;
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0px;
        border-bottom: 2px solid blue;

        & > #logo-navbar {
            width: 12rem;
        }

        
        & > #logo-navbar2 {
            width: 12rem;
        }

        & .link {
            text-decoration: none;
            align-self: center;
            align-items: center;
            margin: 0 10px;
            font-size: 1.5rem;
            font-weight: 700;
            color: black;

            &:hover {
                font-style: italic;
                font-weight: bolder;
                color: blue;
            }
        }
    }


    #navbar-global {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
    }


    .link-admin {
        text-decoration: none;
        align-self: center;
        align-items: center;
        margin: 0 10px;
        font-size: 1.5rem;
        font-weight: 700;
        color: black;

        &:hover {
            font-style: italic;
            font-weight: bolder;
            color: blue;
        }
    }

    #nav-aviso {
        text-decoration: none;
        align-self: center;
        align-items: center;
        margin: 0 10px;
        font-size: 1.5rem;
        font-weight: 700;
        color: red;

        &:hover {
            font-style: italic;
            font-weight: bolder;
            color: red;
        }
    }

    
    #nav-aviso[title]:hover:after {
        content: attr(title);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: rgb(130, 207, 233);
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        color: rgb(31, 119, 42);
        font-size: 2.5rem;
    }
    
    .boton {
        background-color: white;
        color: black;
        border-radius: 10em;
        font-size: 16px; 
        font-weight: 600;
        padding: 0.5em 1em; 
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: 1px solid black;
        box-shadow: 0 0 0 0 black;
        max-height: 40px;
        display: flex; 
        align-items: center;
        justify-content: center; 
        white-space: nowrap;
        margin-top: 20px;
    }
    
    .boton:hover {
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 black;
    }
    
    .boton:active {
        transform: translateY(2px) translateX(1px);
        box-shadow: 0 0 0 0 black;
    }    

}
