#nuevo-cuerpo {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#div-citas {
    border-radius: 15px;
    background-color: rgb(61, 231, 231);
    width: max-content;
    padding: 10px;
    margin: 10px;
}

#nuevo-div-form {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    & > #nuevo-form {
        display: flex;
        flex-direction: column;

        & input {
            font-size: 1.1rem;
            margin: 5px 0;
            border-radius: 15px;
            padding: 5px 15px;
        }

        & > #nuevo-button {
            cursor: pointer;
            font-size: 1.25rem;
            font-weight: 650;
        }
    }
}