#propiedad-cuerpos {
    margin-top: 130px;
}

#rotulo-h1 {
    text-align: center;
}

#div-propiedad-html {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 15px;

    & > #div-propiedad-cuadro {
        display: flex;
        flex-direction: column;
        border: solid 2px blue;
        border-radius: 15px;
        width: 75%;
        padding: 10px;
        margin: 10px;

        & > #div-cuadro-rotulo {
            text-align: center;
        }
    
        & > #descripcion-propiedad {
            text-align: center;
        }

        & > #img-propiedades {
            width: 95%;
            border-radius: 15px;
            border: 3px solid white;
        }
    }
}

@media (max-width: 1000px) {
    #div-propiedad-html {
        grid-template-columns: 1fr 1fr;
    }
}