.cabecera {
  display: flex;
  justify-content: left; /* Asegura que el contenido esté centrado horizontalmente */
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  
  padding: 0 0.1rem; /* Ajusta el padding a los lados */
}

.cabecera__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-inline: 10px;
  width: 100%;
}

.cabecera__left {
  display: flex;
  align-items: center;
}

.cabecera__nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.cabecera__nav li {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown__toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown__menu {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  list-style: none;
  margin: 0;
  display: block;
}

.dropdown__menu li {
  padding: 0.5rem 1rem;
}

.dropdown__menu li button {
  color: black;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dropdown__menu li button:hover {
  text-decoration: underline;
}

.cabecera_icon {
  width: 150px;
  height: 70px;
  margin-right: 20px;
  margin-left: 30px;
  margin-top: 5PX;
}

.usuario {
  width: 40px;
  height: 40px;
}

.linea {
  display: flex;
  justify-content: left;
  position:fixed;
  top: 80px;
}